asgiref==3.11.1
asttokens==3.0.1
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cloudinary==1.44.2
colorama==0.4.6
crispy-tailwind==1.0.3
cssselect2==0.9.0
decorator==5.2.1
dj-database-url==3.1.2
Django==6.0.4
django-cloudinary-storage==0.3.0
django-crispy-forms==2.6
django-filter==25.2
djangorestframework==3.17.1
et_xmlfile==2.0.0
executing==2.2.1
fonttools==4.62.1
gunicorn==25.3.0
idna==3.13
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
parso==0.8.6
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
qrcode==8.2
reportlab==4.4.10
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
tinycss2==1.5.1
tinyhtml5==2.1.0
traitlets==5.14.3
tzdata==2026.1
urllib3==2.6.3
wcwidth==0.6.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.1
